table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

td{
    border: 1px solid #dddddd;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(165, 190, 235);
    transition: 0.3s;
}

th{
    border: 1px solid #dddddd;
    padding: 8px; 
    background-color: #01076e;
    color: white;
}

