.dropdown-menu {
    width: 22rem;
    height: auto;
    display: grid;
    grid-template-rows: repeat(2, auto);
    float: left;
}

.dropdown-field {
    width: 100%;
    height: auto;
    float: left;
}

.dropdown-field .text-field-container {
    margin-bottom: 0rem;
    cursor: pointer;
}

.dropdown-field .text-field-container input {
    cursor: pointer;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: auto;
    max-height: 10rem;
    transform: translateY(4.5rem);
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(92, 99, 105, 0.15);
    float: left;
    overflow: auto;
    z-index: 2000 !important;
}

.dropdown,
.dropdown-selected {
    display: block;
    align-items: center;
    padding-left: 0.5rem;
    padding: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
    z-index: 2000 !important;
}

.dropdown:hover {
    color: #0051a793;
    background-color: rgba(0, 62, 128, 0.075);
}

.dropdown-selected {
    color: #0050a7;
    background-color: rgba(0, 61, 128, 0.15);
}